### Gradle ###
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### User uploads ###
/uploads/

### Database files ###
*.db
*.sqlite
*.sql

### JVM ###
*.class

### Spring ###
/target/

### Test temp ###
/test-output/
